.main-section__grid {
  margin-top: 0 !important;
}

.main-section__grid .side-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-section__grid .side-bar .side-bar__task {
  background-color: rgba(147, 148, 154, 0.22);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.5112rem 1.2134rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  margin-bottom: 0.7844rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-section__grid .side-bar .side-bar__task .side-bar__task--title {
  margin-left: 0.7112rem;
  text-transform: none;
  font-size: 0.9444rem;
}

.main-section__grid .status-bar {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-section__grid .status-bar .status-bar__button--question {
  background-color: #8643e6;
  border-radius: 1.5rem;
  padding: 0.5112rem 0.8134rem;
  text-transform: none;
  color: #ffffff;
}

.main-section__grid .status-bar .status-bar__button--question span {
  font-size: 0.9rem;
  margin-left: 0.2112rem;
}

.main-section__grid .status-bar .status-bar__button--question:hover {
  -webkit-box-shadow: 0 14px 26px -12px rgba(134, 67, 203, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(134, 67, 203, 0.2);
          box-shadow: 0 14px 26px -12px rgba(134, 67, 203, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(134, 67, 203, 0.2);
}

.main-section__grid .status-bar .status-bar__top-users {
  background-color: #313238;
  margin-top: 1.2rem;
  padding: 0.8rem 0;
  border-radius: 1.1rem;
}

.main-section__grid .status-bar .status-bar__top-users .status-bar__top-users--title {
  margin: 0;
  padding: 0.6rem 0.8rem;
  text-align: left;
  color: #ffffff;
}

.main-section__grid .status-bar .status-bar__top-users .top-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.8rem;
  margin: 0.8rem 0;
  color: #ffffff;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__avatar-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__avatar-name .top-users__name {
  margin-left: 0.8rem;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__avatar-name .top-users__name .top-users__name--real-name {
  font-size: 1.0002rem;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__avatar-name .top-users__name .top-users__name--user-name {
  font-size: 0.6819rem;
  margin: 0 0.35rem;
  color: #dedede;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7799rem;
}

.main-section__grid .status-bar .status-bar__top-users .top-users .top-users__rate svg {
  font-size: 1rem;
}

.main-section__grid .status-bar .status-bar__top-users .status-bar__top-users--list {
  height: 380px;
  overflow-y: scroll;
}

.main-section__grid .status-bar .status-bar__top-users .status-bar__top-users--list::-webkit-scrollbar {
  background-color: #313238;
  width: 8px;
}

.main-section__grid .status-bar .status-bar__top-users .status-bar__top-users--list::-webkit-scrollbar-thumb {
  background-color: #212124;
  border-radius: 8px;
}
/*# sourceMappingURL=Main.css.map */